@use "../../../styles//abstracts//variables" as vr;
@use "../../../styles//abstracts//mixins" as mx;
@use "sass:color";

.login-password {
  @include mx.flex-center;
  flex-direction: column;
  gap: vr.$space-xl;

  &__title {
    font-size: vr.$font-header;
    font-weight: 700;

    > a {
      color: vr.$color-primary;
      &:hover {
        color: color.adjust(vr.$color-primary, $lightness: 5%);
      }
    }
  }
  &__subtitle {
    font-size: vr.$font-lg;
    color: vr.$color-gray;
  }

  &__input-wrapper {
    position: relative;
    width: 400px;
    padding: vr.$space-lg;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  &__toggle-password {
    z-index: 2;
    cursor: pointer;
  }
  &__input {
    background-color: vr.$color-card-bg;
    text-align: center;
    border-radius: vr.$radius-sm;
    outline: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &:focus {
      background-color: color.adjust(vr.$color-card-bg, $lightness: 3%);
    }
  }

  &__error {
    color: vr.$color-red;
  }

  &__otp-link {
    color: vr.$color-primary;
    cursor: pointer;
    &:hover {
      color: color.adjust(vr.$color-primary, $lightness: 5%);
    }
  }

  &__subBtn {
    background: vr.$color-button-bg;
    width: 300px;
    padding: vr.$space-md;
    border-radius: vr.$radius-md;
    cursor: pointer;
    font-weight: 700;
    font-size: vr.$font-lg;
    margin-top: vr.$space-4xl;

    &:hover {
      background: vr.$color-button-bg-hover;
    }
  }
}
