@use "./breakpoints" as bp;
@use "./variables" as dark;
@use "./variables.light" as light;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin max-w($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin light {
  html.light & {
    @content;
  }
}

@mixin background-blob(
  $width,
  $height,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;

  border-radius: 50%;
  background: dark.$color-primary;
  opacity: 10%;
  filter: blur(120px); // Adjust the blur amount to match Figma's softness
  z-index: -1; // Sits safely behind the page content
  pointer-events: none; // Stops it from blocking clicks on buttons/links

  @include light {
    display: none;
  }
}
