// Colors
$color-bg: #dedede;

$color-primary: #8b5b82;
$color-primary-hover: #724c6b;
$color-primary-bg: #683d60;
$color-primary-bg-hover: #573050;

$color-red: #b23840;
$color-yellow: #af8b51;
$color-white: #eee;
$color-black: #090909;
$color-green: #1d902f;
$color-light-gray: #bdbdbd;
$color-dark-gray: #494949;
$color-gray: #a7a7a7;

$color-card-bg: #fff;

$card-outline: 0.5px solid #ffffff2f;

$shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
