// Colors
$color-bg: #dedede;

$color-primary: #8b5b82;
$color-primary-hover: #724c6b;
$color-primary-bg: #683d60;
$color-primary-bg-hover: #573050;

$color-red: #b23840;
$color-yellow: #e0a340;
$color-white: #eee;
$color-black: #090909;
$color-green: #38e351;
$color-light-gray: #c5c5c5;
$color-dark-gray: #302f2e;
$color-gray: #909090;

$color-card-bg: #fff;

$card-outline: 0.5px solid #ffffff2f;

$shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
