// Colors
$color-primary-hover:
  linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
  #d73717;

$color-primary: #d04e2f;
$color-primary-hover: #cb5b40;
$color-primary-bg: #c0523c;
$color-primary-bg-hover: #ce573f;

$color-red: #b23840;
$color-yellow: #e0a340;
$color-white: #ddd;
$color-black: #0e0e0e;
$color-green: #38e351;
$color-light-gray: #d9d9d9;
$color-dark-gray: #302f2e;
$color-gray: #abaaaa;

$color-card-bg:
  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(71, 0, 113, 0.02) 100%);

$card-outline: 0.5px solid #ffffff2f;
