@use "../../styles/abstracts/variables" as vr;

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // background: vr.$color-bg;
  background: #0c0517;
  background: linear-gradient(
    -90deg,
    rgba(12, 5, 23, 1) 0%,
    rgba(15, 8, 38, 1) 100%
  );
  color: vr.$color-white;

  &__content {
    flex: 1;
    position: relative;
    z-index: 0;
    width: 100vw;
    overflow: hidden;
    // This serves as the anchor point for your page-level absolute positioning
  }
}
