@use "../../../../styles/abstracts/mixins" as mx;

.media-type-modal {
  width: 1045px;
  border-radius: 26px;
  background-color: var(--modal-bg);
  opacity: 0;
  transition: opacity ease 200ms;
  overflow: hidden;
  &.open {
    opacity: 1;
  }

  &__head {
    width: 100%;
    height: 162px;
    background-color: var(--media-head-bg);
    @include mx.flex-center;
    gap: 9px;

    > span {
      font-size: 31px;
      font-weight: 800;
    }

    > svg {
      font-size: 49px;
    }
  }

  &__body {
    padding: 62px 27px;
    color: var(--modal-text);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--modal-body-bg);
    gap: 58px 88px;
    align-items: center;
    justify-content: center;

    &__card {
      background-color: var(--media-card-bg);
      border-radius: 26px;
      height: 222px;
      width: 285px;
      box-shadow: 0 4px 4px 0 var(--media-shadow);
      @include mx.flex-center;
      flex-direction: column;
      gap: 17px;
      cursor: pointer;
      transition:
        transform 300ms ease,
        box-shadow 300ms ease;

      &:hover {
        transform: translateY(4px);
        box-shadow: none;

        > span {
          transform: translateY(4px);
          box-shadow: none;
        }
      }

      &:first-of-type {
        > span {
          background: var(--media-grad-1);
        }
      }
      &:nth-of-type(2) {
        > span {
          background: var(--media-grad-2);
        }
      }
      &:last-of-type {
        > span {
          background: var(--media-grad-3);
        }
      }

      > span {
        height: 99px;
        width: 125px;
        border-radius: 17px;
        box-shadow: 0 4px 4px 0 var(--media-shadow);
        @include mx.flex-center;
        transition:
          transform 250ms ease,
          box-shadow 250ms ease;
        > svg {
          color: white; /* typically SVG inner paths can stay white */
          font-size: 99px;
        }
      }
      > p {
        font-size: 28px;
        font-weight: 700;
      }
    }
  }
}
