@use "../../styles//abstracts//variables" as dark;
@use "../../styles//abstracts//mixins" as mx;
@use "../../styles//abstracts//variables.light" as light;
@use "sass:color";

.home-page {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &__hero {
    position: absolute;
    width: 100vw;
    height: 97vh;
    max-height: 97vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .img {
      height: 100%;
      width: 100%;
      > img {
        position: absolute;
        top: 0;
        transition: opacity ease 300ms !important;

        &.light {
          opacity: 0;
          height: 86vh;
        }
      }
    }

    &--light {
      > .img > img.light {
        opacity: 1;
      }
      > .img > img.dark {
        opacity: 0;
      }
    }

    > h1 {
      font-size: 45px;
      font-weight: 700;

      // Typewriter animation
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-left: 0.15em solid dark.$color-primary; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.1em; /* Adjust as needed */
      animation:
        typing 3.5s steps(40, end),
        blink-caret-dark 0.75s infinite;

      > span {
        color: dark.$color-primary;
        font-weight: 800;
      }

      @include mx.light {
        border-left: 0.15em solid light.$color-primary; /* The typwriter cursor */
        animation:
          typing 3.5s steps(40, end),
          blink-caret-light 0.75s infinite;

        > span {
          color: light.$color-primary;
        }
      }
    }
  }

  &__button-title {
    text-align: center;
    font-size: 20.4px;
    // margin-top: 13.6px;
    &::before {
      content: "";
      height: 100vh;
      width: 8.5px;
      display: block;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 69.7px;
    margin-top: 44.2px;

    > button {
      background-color: dark.$color-primary-bg;
      transition: background 150ms ease;
      font-size: 35.7px;
      font-weight: 600;
      border-radius: 26px;
      cursor: pointer;
      height: 131.75px;
      width: 340px;
      text-shadow: 0 4px 4px #00000067; // Assuming this stays standard, but hex alpha can be adjusted if needed

      @include mx.light {
        background-color: light.$color-primary-bg;
        color: light.$color-white;
      }

      &:hover {
        background: dark.$color-primary-bg-hover;

        @include mx.light {
          background: light.$color-primary-bg-hover;
        }
      }
    }
  }

  &__steps-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-top: 110.5px;
    > span {
      color: dark.$color-primary;
      font-weight: 800;

      @include mx.light {
        color: light.$color-primary;
      }
    }
  }

  &__features-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 104px;
    // margin-top: 44.2px * 1.5;
    > span {
      color: dark.$color-primary;
      font-weight: 800;

      @include mx.light {
        color: light.$color-primary;
      }
    }
  }

  &__plans-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: 103.7px 0;
    // margin-top: 44.2px * 1.5;
    > span {
      color: dark.$color-primary;
      font-weight: 800;

      @include mx.light {
        color: light.$color-primary;
      }
    }
  }

  &__faq-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-top: 103.7px;
  }

  &__faq-subtitle {
    text-align: center;
    font-size: 13.6px;
    font-weight: 600;
    margin-top: 13.6px;
    color: dark.$color-primary;
    cursor: pointer;
    transition: color 150ms ease;

    @include mx.light {
      color: light.$color-primary;
    }

    &:hover {
      color: color.adjust(dark.$color-primary, $lightness: 10%);

      @include mx.light {
        color: color.adjust(light.$color-primary, $lightness: 10%);
      }
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink-caret-dark {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: dark.$color-primary;
  }
}

@keyframes blink-caret-light {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: light.$color-primary;
  }
}
