@use "../../styles//abstracts//variables" as vr;
@use "sass:color";

.home-page {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &__hero {
    position: absolute;
    width: 100vw;
    height: 97vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font-size: vr.$font-header;
      font-weight: 700;

      // Typewriter animation
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-left: 0.15em solid vr.$color-primary; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.1em; /* Adjust as needed */
      animation:
        typing 3.5s steps(40, end),
        blink-caret 0.75s infinite;

      > span {
        color: vr.$color-primary;
        font-weight: 800;
      }
    }
  }

  &__button-title {
    text-align: center;
    font-size: vr.$font-lg;
    // margin-top: 16px;
    &::before {
      content: "";
      height: 100vh;
      width: 10px;
      display: block;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 82px;
    margin-top: vr.$space-4xl;

    > button {
      background-color: vr.$color-primary-bg;
      transition: background 150ms ease;
      font-size: 42px;
      font-weight: 600;
      border-radius: vr.$radius-xl;
      cursor: pointer;
      height: 155px;
      width: 400px;
      text-shadow: 0 4px 4px #00000067;

      &:hover {
        background: vr.$color-primary-hover;
      }
    }
  }

  &__steps-title {
    text-align: center;
    font-size: 66px;
    font-weight: 700;
    margin: 130px 0;
    > span {
      color: vr.$color-primary;
      font-weight: 800;
    }
  }

  &__features-title {
    text-align: center;
    font-size: 66px;
    font-weight: 700;
    margin: 160px 0;
    // margin-top: vr.$space-4xl * 1.5;
    > span {
      color: vr.$color-primary;
      font-weight: 800;
    }
  }

  &__plans-title {
    text-align: center;
    font-size: 66px;
    font-weight: 700;
    margin: 122px 0;
    // margin-top: vr.$space-4xl * 1.5;
    > span {
      color: vr.$color-primary;
      font-weight: 800;
    }
  }

  &__faq-title {
    text-align: center;
    font-size: 66px;
    font-weight: 700;
    margin-top: 122px;
  }

  &__faq-subtitle {
    text-align: center;
    font-size: vr.$font-md;
    font-weight: 600;
    margin-top: vr.$space-lg;
    color: vr.$color-primary;
    cursor: pointer;
    transition: color 150ms ease;
    &:hover {
      color: color.adjust(vr.$color-primary, $lightness: 10%);
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: vr.$color-primary;
  }
}
