@use "../../../styles//abstracts//variables" as dark;
@use "../../../styles/abstracts/variables.light" as light;
@use "../../../styles//abstracts//mixins" as mx;
@use "sass:color";

.user-payments {
  @include mx.flex-center;
  align-items: start;
  position: relative;
  height: 100%;

  &__list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 23px;

    &__header {
      @include mx.flex-center;
      background-color: color.adjust(dark.$color-light-gray, $alpha: -0.75);
      justify-content: space-evenly;
      height: 97px;
      width: 100%;
      border-radius: 17px;

      @include mx.light {
        background-color: light.$color-primary-bg;
      }

      &__cell {
        width: 175px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;

        @include mx.light {
          color: light.$color-white;
        }
      }
    }

    &__body-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 17px;

      &__row {
        @include mx.flex-center;
        justify-content: space-evenly;
        background-color: color.adjust(dark.$color-light-gray, $alpha: -0.87);
        height: 97px;
        width: 100%;
        border-radius: 17px;

        @include mx.light {
          background-color: light.$color-card-bg;
          box-shadow: none; // Removed the light shadow here
        }

        &__cell {
          @include mx.flex-center;
          flex-direction: column;
          width: 175px;
          font-weight: 700;
          font-size: 18px;
          text-align: center;

          &__text {
            font-weight: 600;
            font-size: 16px;
            color: color.adjust(dark.$color-dark-gray, $lightness: 20%);

            @include mx.light {
              color: light.$color-gray;
            }
          }

          &.red {
            color: dark.$color-red;

            @include mx.light {
              color: light.$color-red;
            }
          }

          &.green {
            color: dark.$color-green;

            @include mx.light {
              color: light.$color-green;
            }
          }
        }
      }
    }
  }

  &__blob {
    @include mx.background-blob(
      $width: 100%,
      $height: 80%,
      $top: 50%,
      $left: 50%
    );
    transform: translate(-50%, -50%);
  }
}
