@use "../../../styles/abstracts/variables" as dark;

@use "../../../styles/abstracts/mixins" as mx;
@use "sass:color";

.register-info {
  @include mx.flex-center;
  flex-direction: column;
  gap: dark.$space-2xl;

  &__group {
    @include mx.flex-center;
    flex-direction: column;
    gap: dark.$space-md;
  }

  &__label {
    font-size: dark.$font-lg;
    font-weight: 700;
    text-align: center;
  }

  &__input-wrapper {
    position: relative;
    width: 400px;
    padding: dark.$space-lg;

    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__input {
    position: absolute;
    inset: 0;

    background-color: color.adjust(dark.$color-light-gray, $alpha: -0.8);

    border-radius: 12px;

    text-align: center;

    outline: none;

    &:focus {
      background-color: color.adjust(
        dark.$color-light-gray,
        $lightness: 3%,
        $alpha: -0.8
      );
    }
  }

  &__icon,
  &__icon-btn {
    z-index: 2;
    font-size: dark.$font-lg;
  }

  &__icon-btn {
    cursor: pointer;
  }

  &__rules {
    display: flex;
    flex-direction: column;
    gap: dark.$space-sm;

    color: dark.$color-red;
    text-align: center;
  }

  &__submit-btn {
    background: dark.$color-primary;

    width: 300px;

    padding: dark.$space-md;

    border-radius: dark.$radius-md;

    cursor: pointer;

    font-weight: 700;
    font-size: dark.$font-lg;

    margin-top: dark.$space-lg;

    &:hover {
      background: dark.$color-primary-hover;
    }
  }

  &__terms {
    color: dark.$color-gray;
    text-align: center;
    max-width: 500px;

    > a {
      color: dark.$color-primary;

      &:hover {
        color: color.adjust(dark.$color-primary, $lightness: 5%);
      }
    }
  }
}
