@use "../../../../styles/abstracts/variables" as dark;
@use "../../../../styles/abstracts/variables.light" as light;
@use "../../../../styles/abstracts/mixins" as mx;

.step-animation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  // background-color: black;
  transform: translateX(-400px);

  @include mx.max-w(1903px) {
    transform: translateX(-200px);
  }

  @include mx.max-w(2423px) {
    transform: translateX(-250px);
  }

  @include mx.max-w(2155px) {
    transform: translateX(-100px);
  }

  @include mx.max-w(1603px) {
    transform: translateX(-100px);
  }

  &__glow {
    fill: dark.$color-primary;
  }
}
