@use "../../../styles/abstracts/mixins" as mx;

.room-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 24px 21px;
  background: var(--bg-main);
  color: var(--text-primary);
  gap: 20px;
  position: relative;

  &__chat-container {
    min-width: 305px;
    max-width: 345px;
    height: 100%;
    border-radius: 27px;
    background: var(--chat-container-bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__head {
      width: 100%;
      height: 110px;
      background: var(--component-bg);
      @include mx.flex-center;
      border-bottom: 1px solid var(--border-subtle);

      > p {
        font-size: 22px;
        font-weight: 800;
        color: var(--text-muted);
      }
      > span {
        font-size: 35px;
        color: var(--text-muted);
      }
    }

    &__chat-main {
      padding: 32px 11px;
      flex: 1;
    }

    &__message-block {
      display: flex;
      gap: 9px;
      margin: 32px 0;
      align-items: center;
      > img {
        border-radius: 100%;
        height: 35px;
        width: 35px;
        object-fit: cover;
      }

      &__messages {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: end;

        &__message {
          padding: 8px 7px 8px 10px;
          display: flex;
          flex-direction: column;
          background: var(--msg-in-bg);
          gap: 3px;
          border-radius: 0px 12px 12px 0px;

          &__text {
            font-size: 14px;
            font-weight: 600;
            width: 100%;
          }
          &__time {
            font-size: 8px;
            font-weight: 600;
            width: 100%;
            opacity: 0.9;
            text-align: end;
            transform: translateX(-3px);
          }

          &:first-of-type {
            border-radius: 12px 12px 12px 0;
          }
          &:last-of-type {
            border-radius: 0 12px 12px 12px;
          }
        }
      }

      &.outgoing {
        > img {
          display: none;
        }

        .room-page__chat-container__message-block__messages {
          align-items: start;
          &__message {
            background: var(--msg-out-bg);
            border-radius: 12px 0 0 12px;

            &:first-of-type {
              border-radius: 12px 12px 0 12px;
            }
            &:last-of-type {
              border-radius: 12px 0 12px 12px;
            }
          }
        }
      }
    }

    &__foot {
      height: 90px;
      width: 100%;
      background: var(--chat-foot-bg);
      @include mx.flex-center;
      gap: 16px;

      > button {
        font-size: 17px;
        @include mx.flex-center;
        width: 44px;
        height: 44px;
        background: var(--send-btn-bg);
        border-radius: 100%;
        outline: 1px solid var(--chat-container-bg);
        cursor: pointer;
      }

      &__input {
        border: 1px solid var(--border-input);
        height: 50px;
        width: 213px;
        border-radius: 999px;
        overflow: hidden;
        display: flex;
        align-items: center;
        background: var(--send-input-bg);

        > textarea {
          height: 100%;
          width: 80%;
          outline: none;
          border: none;
          padding: 10px 0px;
          scrollbar-width: thin;
          scrollbar-color: var(--scrollbar-thumb) transparent;

          &::-webkit-scrollbar {
            width: 3px;
          }
          &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb);
            border-radius: 10px;
          }
        }

        > button {
          width: 20%;
          height: 100%;
          cursor: pointer;
          @include mx.flex-center;
          > svg {
            font-size: 24px;
            color: var(--icon-color);
            opacity: 1;
          }
        }
      }
    }
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__top {
      width: 100%;
      height: 110px;
      border-radius: 26px;
      background: var(--component-bg);
      @include mx.flex-center;
      gap: 26px;

      > input {
        border: 1px solid var(--border-main-input);
        width: 543px;
        height: 60px;
        border-radius: 8px;
        padding: 0 21px;
        outline: none;
        text-align: center;
      }
      > button {
        cursor: pointer;
        transition: opacity 200ms ease;
        &:hover {
          opacity: 0.8;
        }
      }

      &__submit {
        background: var(--btn-submit-bg);
        height: 55px;
        width: 82px;
        border-radius: 8px;
        font-size: 22px;
        font-weight: 700;
      }
      &__choose {
        background: var(--btn-submit-bg);
        height: 55px;
        width: 130px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 700;
      }
    }

    &__player {
      background-color: black;
      height: 100%;
      border-radius: 26px;
    }
  }

  &__side-bar {
    width: 66px;
    height: 100%;
    background: var(--component-bg);
    padding: 24px 9px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    border-radius: 26px;

    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 9px;

      > button {
        height: 48px;
        width: 48px;
        background: var(--sidebar-btn-bg);
        border-radius: 20px;
        color: var(--icon-sidebar);
        @include mx.flex-center;
        font-size: 25px;
        cursor: pointer;
        transition: background 200ms ease;
        &:hover {
          background: var(--sidebar-btn-hover);
        }
      }
      &__settings {
        > svg {
          > path {
            fill: var(--icon-sidebar);
          }
        }
      }

      > span {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  &__modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-overlay-bg);
    backdrop-filter: blur(8px);
    z-index: 500;
    @include mx.flex-center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;

    &.is-active {
      opacity: 1;
      pointer-events: all;
      .room-page__modal-overlay__modal {
        z-index: 9999;
      }
    }

    &__modal {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
}
