@use "../../../styles//abstracts//variables" as dark;
@use "../../../styles/abstracts/variables.light" as light;
@use "sass:color";
@use "../../../styles/abstracts/mixins" as mx;

.home-planCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23.8px;
  margin-top: 44.2px * 2;
  position: relative;

  &__card:nth-child(odd) {
    transform: translateY(-50px);
    &:hover {
      transform: translateY(-60px);
    }
  }

  // &__blob-bottom {
  //   @include mx.background-blob(600px, 400px, 60%, -5%, auto, auto);
  // }
  &__blob-top {
    @include mx.background-blob(900px, 600px, -70%, auto, auto, -10%);
  }

  &__card {
    @include mx.flex-center;
    flex-direction: column;
    // justify-content: space-between;
    position: relative;

    outline: dark.$card-outline;
    padding: 17px 0;
    width: 375.7px;
    min-height: 578px;
    border-radius: 26px;
    background: dark.$color-card-bg;

    transition: transform 300ms ease;

    @include mx.light {
      outline: light.$card-outline;
      background: light.$color-card-bg;
      box-shadow: 0 3px 4px 0 color.adjust(light.$color-black, $alpha: -0.75);
    }

    &:hover {
      transform: translateY(-20px);
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72.25px;
      width: 72.25px;
      background-color: #ffffff1a;
      border-radius: 17px;
      position: relative;
      transition: background-color ease 400ms;

      @include mx.light {
        background-color: light.$color-primary;
      }

      > svg {
        font-size: 40.8px;
        color: dark.$color-primary;

        @include mx.light {
          color: light.$color-white; // Stays light.$color-white on hover naturally
        }
      }
    }

    &__title {
      font-size: 42.5px;
      font-weight: 700;
      color: dark.$color-primary;
      margin-top: 25.5px;

      @include mx.light {
        color: light.$color-primary;
      }
    }

    &__desc {
      font-size: 18.7px;
      color: color.adjust(dark.$color-gray, $lightness: -20%);
      margin-top: 5.95px;

      @include mx.light {
        color: color.adjust(light.$color-gray, $lightness: -20%);
      }
    }

    &__sep {
      width: 60%;
      height: 2px;
      margin: 17px 0;
      position: relative;

      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 10%,
        rgba(238, 238, 238, 1) 50%,
        rgba(255, 255, 255, 0) 90%
      );

      @include mx.light {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 10%,
          rgba(0, 0, 0, 0.35) 50%,
          rgba(0, 0, 0, 0) 90%
        );
      }
    }

    &__users-title {
      font-weight: 600;
      font-size: 27.2px;
    }

    &__users {
      font-weight: 500;
      font-size: 27.2px;
    }

    &__price-container {
      @include mx.flex-center;
      flex-direction: column;
      width: 85%;
      margin-top: 8.5px;

      &__discount {
        border-radius: 13px 13px 0 0;
        background-color: dark.$color-primary-bg;
        @include mx.flex-center;
        gap: 6.8px;
        padding: 0 6.8px;
        height: 36.55px;

        @include mx.light {
          background-color: light.$color-primary-bg;
          color: light.$color-white;
        }

        &__old-price {
          text-decoration: line-through;
          font-weight: 600;
          font-size: 17px;
        }

        &__discount-percent {
          @include mx.flex-center;
          gap: 3.4px;
        }
      }

      &__current-price {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 85px;
        position: relative;
        justify-content: end;
        padding: 3.4px;
        border-radius: 17px;
        background-color: #ffffff1a;

        @include mx.light {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &__main {
          font-size: 39.1px;
          font-weight: 600;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          gap: 8.5px;

          span {
            font-size: 13.6px;
            display: block;
          }
        }

        &__sub {
          color: dark.$color-gray;
          font-size: 15.3px;

          @include mx.light {
            color: rgba(0, 0, 0, 0.35);
          }
        }
      }
    }

    &__buyBtn {
      background: dark.$color-primary-bg;
      width: 199.75px;
      height: 61.2px;
      border-radius: 17px;
      padding: 6.8px;
      font-size: 31.45px;
      font-weight: 700;
      margin-top: 17px;
      cursor: pointer;
      transition: background ease 200ms;

      @include mx.light {
        background: light.$color-primary-bg;
        color: light.$color-white;
      }

      &:hover {
        background: dark.$color-primary-bg-hover;

        @include mx.light {
          background: light.$color-primary-bg-hover;
        }
      }
    }

    &__more {
      color: dark.$color-primary;
      margin-top: 17px;
      cursor: pointer;
      font-size: 18.7px;
      font-weight: 200;

      @include mx.light {
        color: light.$color-primary;
      }

      &:hover {
        color: dark.$color-primary-hover;

        @include mx.light {
          color: light.$color-primary-hover;
        }
      }
    }
  }
}
