@use "../../../styles//abstracts//variables" as dark;

@use "../../../styles//abstracts//mixins" as mx;
@use "sass:color";

.auth-phone-input {
  @include mx.flex-center;
  flex-direction: column;
  gap: dark.$space-xl;

  &__title {
    font-size: dark.$font-header;
    font-weight: 700;

    > a {
      color: dark.$color-primary;
      &:hover {
        color: color.adjust(dark.$color-primary, $lightness: 5%);
      }
    }
  }
  &__subtitle {
    font-size: dark.$font-lg;
    color: dark.$color-gray;
  }

  &__input {
    background-color: color.adjust(dark.$color-light-gray, $alpha: -0.8);
    text-align: center;
    border-radius: 12px;
    padding: dark.$space-lg;
    width: 400px;
    outline: none;

    &:focus {
      background-color: color.adjust(
        dark.$color-light-gray,
        $lightness: 3%,
        $alpha: -0.8
      );
    }
  }

  &__error {
    color: dark.$color-red;
  }

  &__subBtn {
    background: dark.$color-primary;
    width: 300px;
    padding: dark.$space-md;
    border-radius: dark.$radius-md;
    cursor: pointer;
    font-weight: 700;
    font-size: dark.$font-lg;
    margin-top: dark.$space-4xl;

    &:hover {
      background: dark.$color-primary-hover;
    }
  }
}
