@use "../../styles/abstracts/variables" as dark;
@use "../../styles/abstracts/variables.light" as light;
@use "../../styles/abstracts/mixins" as mx;

.user-dashboard-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // background: dark.$color-bg;
  background: #0c0517;
  background: linear-gradient(
    -90deg,
    rgba(12, 5, 23, 1) 0%,
    rgba(15, 8, 38, 1) 100%
  );
  color: dark.$color-white;
  transition:
    background ease 300ms,
    color ease 300ms;

  @include mx.light {
    background: light.$color-bg;
    color: light.$color-black;
  }

  &__content {
    flex: 1;
    position: relative;
    z-index: 0;
    width: 100vw;
    overflow: hidden;
    margin-top: 76.5px;
    display: flex;
    justify-content: end;

    &__sidebar-container {
      width: 265px;
      height: calc(100vh - 76.5px);
      position: fixed;
      top: 76.5px;
      right: 0;
    }

    &__page-container {
      width: calc(100% - 265px);
      min-width: calc(100vh - 90px);
      padding: 26px;
    }
  }
}
