@use "../../styles/abstracts/variables" as dark;
@use "../../styles/abstracts/variables.light" as light;
@use "../../styles/abstracts/mixins" as mx;

.user-dashboard-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    -90deg,
    rgba(12, 5, 23, 1) 0%,
    rgba(15, 8, 38, 1) 100%
  );
  color: dark.$color-white;
  transition:
    background ease 300ms,
    color ease 300ms;

  @include mx.light {
    background: light.$color-bg;
    color: light.$color-black;
  }

  &__content {
    flex: 1;
    position: relative;
    z-index: 0;
    width: 100vw;
    overflow: hidden;
    margin-top: 76.5px;
    display: flex;
    justify-content: end;

    // The dark overlay behind the sidebar on mobile
    &__backdrop {
      display: none;
      position: fixed;
      inset: 0;
      top: 76.5px;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(4px);
      z-index: 9;
      opacity: 0;
      transition: opacity 300ms ease;

      &.is-open {
        display: block;
        opacity: 1;
      }

      @include mx.max-w(992px) {
        display: block;
        pointer-events: none;
        &.is-open {
          pointer-events: auto;
        }
      }
    }

    &__sidebar-container {
      width: 265px;
      height: calc(100vh - 76.5px);
      position: fixed;
      top: 76.5px;
      right: 0;
      z-index: 10;
      transition: transform 300ms ease;

      @include mx.max-w(992px) {
        transform: translateX(100%);

        &.is-open {
          transform: translateX(0);
        }
      }
    }

    &__page-container {
      width: calc(100% - 265px);
      min-height: calc(
        100vh - 90px
      ); // Assuming this was intended to be viewport width or specific bounds
      padding: 26px;

      @include mx.max-w(992px) {
        width: 100%;
        min-width: 100%;
        padding: 16px;
      }
    }
  }
}
