@forward "./styles/abstracts/variables";
@forward "./styles/abstracts/mixins";

@use "./styles/abstracts/font";
@use "./styles/base/globals";

:root {
  color-scheme: dark;
}

img {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  scrollbar-width: thin;
  scrollbar-color: rgb(58, 50, 48) transparent;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(208, 78, 47, 0.45);
    border-radius: 10px;
  }
}

body * {
  scrollbar-width: thin;
  scrollbar-color: rgba(208, 78, 47, 0.45) transparent;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(208, 78, 47, 0.45);
    border-radius: 10px;
  }
}

input,
textarea,
select {
  @media (max-width: 500px) {
    font-size: 16px !important;
  }
}

button:not(:disabled) {
  cursor: pointer;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

html.theme-transitioning {
  &,
  * {
    transition:
      background 300ms ease,
      background-color 300ms ease,
      color 300ms ease,
      border-color 300ms ease,
      outline-color 300ms ease,
      box-shadow 300ms ease;
  }
}
