@use "../../styles//abstracts//variables" as dark;
@use "../../styles/abstracts/variables.light" as light;
@use "../../styles//abstracts//mixins" as mx;
@use "sass:color";

.plan-details {
  min-height: 90vh;
  @include mx.flex-center;
  gap: dark.$space-2xl;
  margin-top: dark.$space-4xl * 2;

  &__card {
    @include mx.flex-center;
    flex-direction: column;
    gap: dark.$space-lg;
    justify-content: space-evenly;
    background: dark.$color-card-bg;
    outline: dark.$card-outline;
    border-radius: dark.$radius-lg;
    padding: 20px 0;
    width: 400px;
    height: 885px;

    @include mx.light {
      outline: light.$card-outline;
      background: light.$color-card-bg;
      box-shadow: 0 3px 4px 0 color.adjust(light.$color-black, $alpha: -0.75);
    }

    &__icon {
      background-color: color.adjust(dark.$color-light-gray, $alpha: -0.8);
      border-radius: 20px;
      height: 90px;
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mx.light {
        background-color: light.$color-primary;
      }

      > svg {
        font-size: 60px;
        color: dark.$color-primary;

        @include mx.light {
          color: light.$color-white;
        }
      }
    }

    &__title {
      font-size: dark.$font-2xl;
      font-weight: 700;
      color: dark.$color-white;

      @include mx.light {
        color: light.$color-primary;
      }
    }

    &__durations {
      @include mx.flex-center;
      gap: dark.$space-lg;

      &__card {
        @include mx.flex-center;
        gap: dark.$space-md;
        flex-direction: column;
        height: 99px;
        width: 85px;
        background-color: color.adjust(dark.$color-light-gray, $alpha: -0.8);
        cursor: pointer;
        border-radius: 12px;

        @include mx.light {
          background-color: rgba(0, 0, 0, 0.05);
          color: light.$color-black;
        }

        &:hover {
          background-color: color.adjust(
            dark.$color-light-gray,
            $lightness: -5%,
            $alpha: -0.8
          );

          @include mx.light {
            background-color: light.$color-primary-bg-hover;
          }
        }

        &--selected {
          background-color: color.adjust(
            dark.$color-light-gray,
            $alpha: -0.8,
            $lightness: -10%
          );

          @include mx.light {
            background-color: light.$color-primary-bg;
            color: light.$color-white;
          }
        }

        > span {
          font-weight: 700;
        }
        > svg {
          font-size: dark.$font-xl;
        }
      }
    }

    &__current-price {
      background-color: color.adjust(dark.$color-light-gray, $alpha: -0.8);
      border-radius: 20px;
      @include mx.flex-center;
      flex-direction: column;
      padding: dark.$space-md;
      gap: 14px;
      width: 80%;

      @include mx.light {
        background-color: rgba(0, 0, 0, 0.05);
        color: light.$color-black;
      }

      &__main {
        font-size: dark.$font-3xl;
        font-weight: 600;
        line-height: 100%;
      }

      &__discount {
        color: dark.$color-primary;
        display: flex;
        gap: dark.$space-md;

        @include mx.light {
          color: light.$color-primary;
        }

        &__old-price {
          text-decoration: line-through;
          &::after {
            content: " تومان";
          }
        }
        &__discount-percent {
          display: flex;
          align-items: center;
        }
      }
    }

    &__buyBtn {
      height: 67px;
      width: 252px;
      border-radius: 18px;
      font-size: 35px;
      font-weight: 700;
      background-color: dark.$color-primary-bg;
      cursor: pointer;
      transition: background ease 200ms;

      @include mx.light {
        background-color: light.$color-primary-bg;
        color: light.$color-white;
      }

      &:hover {
        background: dark.$color-primary-bg-hover;

        @include mx.light {
          background: light.$color-primary-bg-hover;
        }
      }
    }

    &__features {
      display: flex;
      gap: dark.$space-md;
      flex-direction: column;

      @include mx.light {
        color: light.$color-black;
      }

      > li {
        display: flex;
        gap: dark.$space-lg;

        > svg {
          color: dark.$color-primary;

          @include mx.light {
            color: light.$color-primary;
          }
        }
      }
    }
  }
}
