@use "../../styles//abstracts//variables" as vr;
@use "../../styles//abstracts//mixins" as mx;
@use "sass:color";

.plan-details {
  min-height: 90vh;
  @include mx.flex-center;
  gap: vr.$space-2xl;
  margin-top: vr.$space-4xl * 2;

  &__card {
    @include mx.flex-center;
    flex-direction: column;
    gap: vr.$space-lg;
    justify-content: space-evenly;
    background: vr.$color-card-bg;
    outline: vr.$card-outline;
    border-radius: vr.$radius-lg;
    padding: 20px 0;
    width: 400px;
    height: 885px;

    &__icon {
      background-color: color.adjust(vr.$color-light-gray, $alpha: -0.8);
      border-radius: 20px;
      height: 90px;
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;

      > svg {
        font-size: 60px;
        color: vr.$color-primary;
      }
    }

    &__title {
      font-size: vr.$font-2xl;
      font-weight: 700;
      color: vr.$color-white;
    }

    &__durations {
      @include mx.flex-center;
      gap: vr.$space-lg;

      &__card {
        @include mx.flex-center;
        gap: vr.$space-md;
        flex-direction: column;
        height: 99px;
        width: 85px;
        background-color: color.adjust(vr.$color-light-gray, $alpha: -0.8);
        cursor: pointer;
        border-radius: 12px;

        &:hover {
          background-color: color.adjust(
            vr.$color-light-gray,
            $lightness: -5%,
            $alpha: -0.8
          );
        }

        &--selected {
          background-color: color.adjust(
            vr.$color-light-gray,
            $alpha: -0.8,
            $lightness: -10%
          );
        }

        > span {
          font-weight: 700;
        }
        > svg {
          font-size: vr.$font-xl;
        }
      }
    }

    &__current-price {
      background-color: color.adjust(vr.$color-light-gray, $alpha: -0.8);
      border-radius: 20px;
      @include mx.flex-center;
      flex-direction: column;
      padding: vr.$space-md;
      gap: 14px;
      width: 80%;

      &__main {
        font-size: vr.$font-3xl;
        font-weight: 600;
        line-height: 100%;
      }

      &__discount {
        color: vr.$color-primary;
        display: flex;
        gap: vr.$space-md;
        &__old-price {
          text-decoration: line-through;
          &::after {
            content: " تومان";
          }
        }
        &__discount-percent {
          display: flex;
          align-items: center;
        }
      }
    }

    &__buyBtn {
      height: 67px;
      width: 252px;
      border-radius: 18px;
      font-size: 35px;
      font-weight: 700;
      // margin-top: 15px;
      background-color: vr.$color-primary-bg;
      cursor: pointer;
      transition: background ease 200ms;
      &:hover {
        background: vr.$color-primary-bg-hover;
      }
    }

    &__features {
      display: flex;
      gap: vr.$space-md;
      flex-direction: column;
      // margin-top: vr.$space-2xl;

      > li {
        display: flex;
        gap: vr.$space-lg;

        > svg {
          color: vr.$color-primary;
        }
      }
    }
  }
}
